@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
:root{
    --white :white;
    --gray :#cccccc;
    --dark-gray :#333333;
    --orange :#F75F00;
    --accent :#0052F7;
    --primary-bg :#0F0F0F;
    --secendary-bg :#333333;
    --fs-default :16px;
    --primary-font : "Handlee", Arial;
    --secondary-font : "Calibri",helvetica,Arial;
    --mono-font:monospace;
    --font-lg:30px;
    --font-xl:clamp(1.5rem,calc(1rem + 10vw),45px);
    --font-md:23px;
}
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    color: var(--white);
    background: var(--primary-bg);
    font-family: var(--secondary-font);
    font-size: var(--fs-default);
}
header{
    padding: 1rem;
}
.app-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.logo{
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(--font-md);
    font-family: var(--primary-font);
}
.logo-image{
    width: 2.7rem;
    margin-bottom: 5px;
}
.app-footer{
    padding: 0 2rem;
}
.footer-content{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    border-top: 1px solid var(--gray);
    padding-block: 1rem;
}
.footer-section{
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}
.footer-section:first-child{
    border-right: 1px solid var(--gray);
}
.footer-content h3{
    font-family: var(--mono-font);
    font-size: var(--font-md);
}
.landing{
    height: calc(100vh - 4.5rem);
    position: relative;
}
.landing-page-item{
    position: absolute;
}
.landing-page-item.img{
    width: min(100%,1000px);
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.landing-page-item.img img{
    width: min(100%,1000px);
    height: 90%;
    object-fit: cover;
}
.landing-page-item p{
    width: 100vw;
    font-size: var(--font-xl);
    font-family: var(--mono-font);
    line-height: 1.5;
    font-weight: 600;
}
.landing-page-item.text{
    left: 0;
    width : 100%;
    height: 100%;
    background: linear-gradient(90deg,var(--primary-bg) 20%,#0F0F0F90);
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
.quote-section{
    position: relative;
    background: var(--dark-gray);
    margin-block: 4rem;
    padding:5rem 2rem;
    font-size: var(--font-lg);
    font-family: var(--primary-font);
}
.quote-section p{
    position: relative;
    max-width: min(100%,1000px);
    text-align: center;
    margin: 0 auto;
}
span.quote{
    position: relative;
}
.quote-section p img{
    position: absolute;
    width: 2rem;
    top: 0;
    left: 0;
    transform: translate(-140%,-20%);
}
.quote-section p .quote-inverted{
    position: absolute;
    width: 2rem;
    bottom: 0;
    right: 0;
    transform: translate(220%,20%) rotate(180deg);
}
.quote-section .hearths{
    position: absolute;
    height: 3rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
}
.app-section div h1{
    font-size: var(--font-xl);
    font-family: var(--mono-font);
    margin-block: 1rem;
    text-transform: capitalize;
}
.app-section div p{
    font-size: var(--font-md);
    color: var(--gray);
    margin-block: 1rem;
    max-width: 500px;
    margin-bottom: 3rem;
}
.download-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
}
.download-section > div{
    justify-content: center;
    gap: 5rem;
    width: 100%;
}
.download-section h1{
    font-size: var(--font-xl);
    font-family: var(--mono-font);
}
.download-section .os{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-block: 3rem;
    padding: 1rem;
    position: relative;
}
.os img{
    width: 200px;
}
.btn.os-btn.linux{
    background: #F75F00;
}
.btn.os-btn.linux:hover{
    background: #bd4a03;
}
.footer-section>div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.footer-section>div img{
    width: 2rem;
    transition: opacity 300ms;
}
.footer-section>div img:hover{
    opacity: .5;
}
.footer-section .link{
    font-size: var(--font-lg);
    display: flex;
    align-items: center;
    gap: 1rem;
}
/*phone specific styles*/
.overlay{
    position: absolute;
    background: rgba(0 0 0 / 80%);
    inset: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    font-size: var(--font-lg);
    text-transform: capitalize;
    text-align: center;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}
.overlay img{
    max-height: 100px;
    height: 100px;
    width: 100px;
    aspect-ratio: 1;
}
.overlay span{
    color: rgb(255, 0, 55);
    background: black;
    padding: 1rem;
    width: 100%;
}
@media (max-width : 800px){
        .app-nav{
            justify-content: center;
        }
        .links{
            display: none;
        }
        .link.to-bottom{
            display: flex !important;
        }
        .footer-content{
            flex-direction: column-reverse;
        }
        .footer-section:first-child{
            border-right: 0px;
            border-top: 1px solid var(--gray);
        }
}
