@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
:root{
    --white :white;
    --gray :#cccccc;
    --orange :#F75F00;
    --accent :#0052F7;
    --hv-accent :#0c3b97;
    --primary-bg :#0F0F0F;
    --secendary-bg :#333333;
    --fs-default :16px;
    --primary-font : "Handlee", Arial;
    --secondary-font : "Calibri",helvetica,Arial;
    --mono-font:monospace;
    --font-lg:30px;
    --font-xl: clamp(1rem,calc(1rem + 2vw),45px);
    --font-md:23px;
}
._main_{
    height: 100%;
    width: 100%;
}
.link{
    text-decoration: none;
    color: white;
    background: transparent;
    transition: opacity 300ms;
}

.link:hover{
    opacity: .6;
}
.btn{
    border: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background: var(--accent);
    color: white;
    text-decoration: none;
    padding: .6rem 1rem;
    border-radius: .3rem;
    transition: background 300ms;
}

.btn:hover{
    background: var(--hv-accent);
}
.link.to-bottom{
    position: fixed;
    background: var(--accent);
    padding: 1rem;
    border-radius: 100%;
    aspect-ratio: 1;
    display: none;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    transform: translate(-50%,-50%);

}
.link.to-bottom img{
    height: 1.5rem;
}
.link.to-bottom:hover{
    outline: 3px solid var(--accent);
    outline-offset: 3px;
}
.method{
    color: #ff0026;
}
.keyword{
    color: #ff0066;
}
.directive{
    color: #ffd000;
}
.brace{
    color: #33CC66;
}
.parameter{
    color: #6666CC;
}
.parenthese{
    color: #6666CC;
}

.col-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-block: 5rem;
    padding: 2rem;
}
.image{
    width: 50%;
    height: 100%;
    object-fit: cover;
}
@media (max-width : 800px) {
    .col-2{
        flex-direction: column;
    }
    .image{
        width: 100%;
    }
    .btn.os-btn{
        padding:.5rem 1rem;
        font-size: 18px !important;
    }
}
.btn img{
    width: 1.5rem;
}
.btn.os-btn{
    font-size: var(--font-md);
    padding:1rem 3rem;
    width: min(400px,100vw);
    cursor: pointer;
}